@import url("header.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*::selection {
    background-color: #FFF;
    color: #4f9379;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', helvetica, sans-serif;
    background-color: #FFF;
    overflow: hidden;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #315446;
}

#input h2 {
    margin-top: 10%;
    font-size: 50px;
    color: #FFF;
}

#content-inputs {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 500px;
    max-width: 700px;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#userCPF {
    display: flex;
    position: relative;
    width: 50%;
    height: 40px;
    top: 10%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #FFF;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FFF;
    outline: none;
}

#buttonValidate {
    display: flex;
    width: 50%;
    height: 50px;

    margin-top: 5%;

    border-radius: 5px;

    background-color: #FFF;

    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: Helvetica, sans-serif;
    color: #44866d;
    
    border: none;
    box-shadow: outset #000 0px 0px 10px    ;
    
    cursor: pointer;
    transition: 300ms border 0ms;
}

#buttonValidate:hover{
    background-color: #44866d;
    color: #FFF;
    border: 2px solid #FFF
}

.invalido {
    font-size: 25px;
    color: #f00;
}